.no-parallax{background-attachment:scroll !important;}
.testimonial{background:url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;background-size:cover;}
.about-head{background:url(../images/kidsberry-project-bg.png.jpg) 0 0 no-repeat fixed;background-size:cover;}
.kidsberry-head{background:url(../images/kidsberry-project-bg.png.jpg) 0 0 no-repeat fixed;background-size:cover;}
.atorse-head{background:url(../images/atorse-project-bg.png.jpg) 0 0 no-repeat fixed;background-size:cover;}
.loomtree-head{background:url(../images/loomtree-project-bg.jpg) 0 0 no-repeat fixed;background-size:cover;}
.works1-head{background-image:url('../images/work-bg.png');background-size:cover;}
.works2-head{background-image:url('../images/work-bg.png');background-size:cover;}
.news-head{background:url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;background-size:cover;}
.credits-head{background:url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;background-size:cover;}
.clients-head{background:url(../images/global-brand-outlets-bg.jpg) 0 0 no-repeat fixed;background-size:cover;}
.private-head{background:url(../images/private-brands-outlets-bg.png) 0 0 no-repeat fixed;background-size:cover;}
.awards-head{background:url('src="http://placehold.it/1500x1000.jpg') 0 0 no-repeat fixed;background-size:cover;}
.contact-head{background:url('../images/contact-bg.png');background-size:cover;}
.keyfactors-head{background:url('../images/contact-bg.png');background-size:cover;}